<!DOCTYPE html>
    <html lang="de">
        <head>
            <title>RIM-EM-DEMO</title>
            <meta charset="utf-8"/>
            <script src="https://unpkg.com/elm-pep"></script>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css" type="text/css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" type="text/css">
            
        </head>

        <body>
            <!-- OpenLayers Map Container -->
            <div id="map" class="map" tabindex="0"></div>
            <!-- Control Panel -->
            <div class="main_div">
                <div class="panel_row">
                    <div class="panel_col_30">MapSource</div>
                    <div class="panel_col_70">
                        <!-- MapSource Select -->
                        <select class="select" [(ngModel)]="mapSource" (ngModelChange)="onChange_mapSource(mapSource)">
                            <option></option>
                            <option>PaperMap</option>
                            <option>OpenStreetMap</option>
                            <option>BingMap_Dark</option>
                            <option>BingMap_Light</option>
                            <option>BingMap_Satellit</option>
                        </select>
                    </div>
                </div>
                <div class="panel_row">
                    <div class="panel_col_30">GeoJSON</div>
                    <div class="panel_col_70">
                        <select class="select" [(ngModel)]="geoJson" (ngModelChange)="onChange_geoJson(geoJson)">
                            <!-- GeoJSON Source Select -->
                            <option></option>
                            <option>Land</option>
                            <option>Bundesland</option>
                            <option>RKI Corona Bundesland</option>
                            <option>Regierungsbezirke</option>
                            <option>Kreise</option>
                            <option>RKI Corona Kreise</option>
                        </select>
                    </div>
                </div>
                <div class="panel_row" style="border-bottom: #4A74A8 2px dashed;">
                    <div class="panel_col_30">GPX</div>
                    <div class="panel_col_70" >
                        <select class="select" [(ngModel)]="gpx" (ngModelChange)="onChange_gpx(gpx)">
                            <!-- GPX-Data Source Select -->
                            <option></option>
                            <option>Veloroute 03: Mitte-Lahe</option>
                            <option>Veloroute 09: Mitte-Ricklingen</option>
                            <option>Veloroute 12: Mitte-Stöcken</option>
                        </select>
                    </div>
                </div>
                <div class="panel_row" style="margin-top: 15px;">
                    <div class="panel_col_30">Wappen</div>
                    <div class="panel_col_70" style="width: 20%;">
                        <!-- Checkbox for Coat of Arms (Bundeslandwappen) -->
                        <input type="checkbox" id="switch" [(ngModel)]="checkbox_showWappen" (change)="onChange_showWappen()"/>
                        <label class="label" for="switch"></label>
                    </div>
                </div>
            </div>
            <div class="sub_div" *ngIf="select_geoJson == 'RKI Corona Kreise'">
                <div style="font-size: 23px;">Fälle letzte 7 Tage/100.000 EW</div>
                <div class="line line_1"><i class="fas fa-circle 1"></i> > 100 – ≤ 500</div>
                <div class="line line_2"><i class="fas fa-circle 2"></i> > 50 – ≤ 100</div>
                <div class="line line_3"><i class="fas fa-circle 3"></i> > 25 – ≤ 50</div>
                <div class="line line_4"><i class="fas fa-circle 4"></i> > 5 – ≤ 25</div>
                <div class="line line_5"><i class="fas fa-circle 5"></i> > 0 – ≤ 5</div>
                <div class="line line_6"><i class="fas fa-circle 6"></i> 0</div>
            </div>
            <div class="sub_div" *ngIf="select_geoJson == 'RKI Corona Bundesland'">
                <div style="font-size: 23px;">Pro 100.000 Einwohner</div>
                <div class="line line_1"><i class="fas fa-circle 1"></i> > 100 – ≤ 500</div>
                <div class="line line_2"><i class="fas fa-circle 2"></i> > 50 – ≤ 100</div>
                <div class="line line_3"><i class="fas fa-circle 3"></i> > 25 – ≤ 50</div>
                <div class="line line_4"><i class="fas fa-circle 4"></i> > 5 – ≤ 25</div>
                <div class="line line_5"><i class="fas fa-circle 5"></i> > 0 – ≤ 5</div>
                <div class="line line_6"><i class="fas fa-circle 6"></i> 0</div>
            </div>
        </body>
    </html>